
.footerP{
    background:#363839;
}

.footerP h4{
    margin-bottom: 15px;
    color: white;
}

.contenedor{
    width: 98%;
    margin: auto;  
    /* border: 1px solid blue; */

}

.footerP .contenedor{
    display: flex;
    flex-wrap: wrap;
    
    
}


.footerP article{
    margin: 30px;
    /* border: 2px solid red; */
}

.footerP p{
    
    color: #8c8989;
    
}

article a{
    display: block;
    /* margin-top: 10px; */
    text-decoration: none;
    color: #8c8989;
}

article a:hover{
    color: white;
}

/* 
.PrimeraColumna p{
    color: #d8d8d8;
    margin: block;
    margin-block-start:1px;
    margin-block-end:15px;
}

.SegundaColumna p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    box-sizing: border-box;
} */



/* pantalla Normal -  iPad Pro */

@media (min-width:1024px){


    .footerP .contenedor{
        width: 1050px;
    }

    .footerF .contenedor{
        width: 1350px;
    } 

    #cuerpo .contenedor{
        width: 1350px;
    }

    header .cabeza{
        width: 1350px;
    }
}


@media (min-width:768px){
    .PrimeraColumna{
        width: 440px;
    }
}

